{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-xbCXSC9wTsPXcmEyAYJlZa6GPH/VytTQVqFyqZGOXIlZ9vWUeMqeXB8wAjF0f4NSd8ZA1NdLLQTj6J8UmgJW9g==" crossorigin="anonymous" />

    <script src="{% static 'app/js/main.js' %}" defer></script>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <a href="{% url "main_page" %}" class="nav-logo">Views<p style="color: aquamarine;">App.</p></a>
            <ul class="nav-menu">
                <li class="nav-item">
                    <div class="container-search">
                        <input type="text" class="input-search" placeholder='Search..'>
                      <button class='btn'>
                        <img src="https://www.freeiconspng.com/thumbs/search-icon-png/search-icon-png-21.png" alt="" style="width: 43%;">
    
                      </button>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="{% url "movie_list" %}" class="nav-link">Movies</a>
                </li>
                <li class="nav-item">
                    <a href="{% url "series_list" %}" class="nav-link">Series</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Login</a>
                </li>
                </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
</header>
    

    {% block content %}



    
    
    
    {% endblock content %}










</body>
</html>